@tailwind base;
@tailwind components;
@tailwind utilities;

.PhoneInput {
  @apply text-black;
}

.PhoneInput input:focus {
  outline: none;
  box-shadow: none;
}
.PhoneInput input {
  background-color: #e6eee5;
  height: 2.5rem;
}
