@tailwind base;
@tailwind components;
@tailwind utilities;

.PhoneInput {
  @apply text-black;
}

.PhoneInput {
  outline: none;
  box-shadow: none;
  border-radius: 0;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(187 214 160 / var(--tw-border-opacity));
  height: 2.5rem;
  padding-left: 0.5rem;
}
.PhoneInput input:focus {
  height: 2.4rem;
  border-radius: 0;
}

/* styles.css */
.PhoneInputInput {
  background-color: var(
    --bg-color
  ); /* Change this to the desired background color */
  outline: none;
  border: 1px solid var(--border-color); /* Change this to the desired border color */
  height: 2.5rem;
  padding-left: 0.5rem;
  border-radius: 0;
}
